<!DOCTYPE html>
<html ng-app="TinyQueriesAdmin" lang="en">
  <head>
    <title>TinyQueries admin</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TinyQueries admin tool">
    <meta name="author" content="Query Technology">
	
    <link href="favicon.png" rel="shortcut icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	
  </head>

  <body ng-controller="main">
  
	<div id="toolbar">
	
		<a href="#" id="logo">&nbsp;</a>
	
 		<div class="spinner" ng-show="loading">loading...</div>
		<div ng-show="error" class="alert alert-danger">{{error}}</div>
	
		<div class="form-group">
			<button ng-show="editmode" ng-click="newQuery()" type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-plus-sign"></span>
				New query
			</button>
			<div class="btn-group" data-toggle="buttons">
			  <label class="btn btn-default active" ng-click="view='queries';"> 
				<input type="radio" ng-model="view" value="queries"> Query view
			  </label>
			  <label class="btn btn-default" ng-click="view='rest';" > 
				<input type="radio" ng-model="view" value="rest"> REST view
			  </label>
			</div>		
		</div>		
	
	</div>

	<div id="query-list" class="scroll-panel">

		<div ng-show="view=='rest'"  class="alert alert-warning">Note: REST view is experimental - some functions do not work yet</div>
		
		<div ng-repeat="(queryID,spec) in project.queries" ng-show="view=='queries'">
			<a href="#/queries/{{queryID}}" >{{queryID}}</a>
		</div>
		<div ng-repeat="(path,spec) in project.paths" ng-show="view=='rest'">
			<span class="rest-method">{{project.queries[spec.queryID].method}}</span>
			<a href="#/queries/{{spec.queryID}}" >{{path}}</a>
		</div>
		<p>&nbsp;</p>
		
	</div>
			
	<div id="query-container" ng-view class="{{mode}}"></div>
	
	<div id="message-container" class="scroll-panel" ng-show="editmode">
		<div><span class="glyphicon glyphicon-thumbs-up" ng-show="compileStatusCode==0"></span> {{compileStatus}}</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="javascript/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascript/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascript/angular-1.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascript/angular-cookies-1.2.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascript/angular-route-1.2.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascript/tinyqueries-admin.js"></script>

  </body>
</html>
