
<br />

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Project</h3>
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt>Project ID</dt>
			<dd>{{project.id}}</dd>
			<dt>Compiler</dt>
			<dd>{{project.compiler.server}}</dd>
			<dt>Version</dt>
			<dd>Compile with {{project.compiler.version || 'latest version'}}</dd>
			<dt>Input Folder</dt>
			<dd>{{project.compiler.input}}</dd>
			<dt>Output Folder</dt>
			<dd>{{project.compiler.output}}</dd>
			<dt>Compile status</dt>
			<dd>{{compileStatus}}</dd>
			<dt>Compiled with</dt>
			<dd>
				<span ng-show="project.compiledWith">Current SQL files are compiled with {{project.compiledWith}}</span>
				<span ng-show="!project.compiledWith">Project is not compiled</span>
			</dd>
			<dt>Version client libs</dt>
			<dd>v{{project.version_libs}}</dd>
			<dt>Compile needed</dt>
			<dd>
				<span ng-if="project.compiler.compileNeeded==true">Yes</span>
				<span ng-if="project.compiler.compileNeeded==false">No</span>
				<span ng-if="project.compiler.compileNeeded==null">Don't know - no source files found</span>
			</dd>
			<dt>Database connection</dt>
			<dd>
				{{project.dbStatus}}
				<p class="text-warning" ng-show="project.dbError">{{project.dbError}}</p>
			</dd>
		</dl>
		
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Global query parameters</h3>
	</div>
	<div class="panel-body">
	
		<form role="form" class="form-horizontal">
	
			<div ng-repeat="(paramID, param) in globals" class="form-group">
				<label class="col-sm-2 control-label" for="input-{{paramID}}">{{paramID}}</label>
				<div class="col-sm-4">
					<input  id="input-{{paramID}}" type="text" class="form-control" ng-model="globals[paramID].value" placeholder="Enter value for this parameter" required >
				</div>
				<div class="col-sm-1">
					<span ng-repeat="type in param.type">
						<span class="label label-{{type}}">{{type}}</span>
					</span>
				</div>
				<div class="col-sm-5">{{param.doc}}</div>
			</div>
			
		</form>

	</div>
</div>


<p>
To the left you can see the list of queries which are created for the project. Click on a query for details.
</p>

<p>
<small>TinyQueries Admin is copyright &copy; <a href="http://www.querytechnology.com" target="_blank"> Query Technology</a> 2012 - 2015</small>
</p>