<div ng-controller="query">
		
	<h1>{{query.id}} <span class="query-type" title="The query type is '{{query.type}}'">[{{query.type}}]</span></h1>
	
	<ul class="nav nav-tabs">
		<li ng-class="{active: tab=='run'}"><a ng-click="tab='run'">Execute</a></li>
		<li ng-class="{active: tab=='doc'}"><a ng-click="tab='doc'">Documentation</a></li>
	</ul>
		
	<div ng-show="tab=='run'">
	
		<form role="form" class="form-horizontal">
		
			<div class="form-group">
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-query-term">query term</label>
				<div class="col-sm-4">
					<input  id="input-query-term" type="text" class="form-control" ng-model="queryTerm" ng-blur="updateParams()" required >
				</div>
				<div class="col-sm-6">
					<button ng-click="run()" type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-play-circle"></span>
						Run query
					</button>
					<button ng-click="updateParams()" type="submit" class="btn">
						Update Params
					</button>
				</div>
			</div>			
			
			<div ng-repeat="(paramID, param) in params" class="form-group">
				<label class="col-sm-2 control-label" for="input-{{paramID}}">{{paramID}}</label>
				<div class="col-sm-4">
					<input  id="input-{{paramID}}" type="text" class="form-control" ng-model="params[paramID].value" placeholder="Enter value for this parameter"  >
				</div>
				<div class="col-sm-6">
					<!--
					<span ng-class="{label: true, 'label-info': param.expose=='public', 'label-primary': param.expose=='private'}">{{param.expose}}</span> 
					-->
					<span ng-repeat="type in param.type">
						<span class="label label-{{type}}">{{type}}</span>
					</span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-7">
					<span class="label label-default">stats:</span>
					<span class="label label-default">{{nRows}}</span>
					<span class="label label-default">{{profiling.database}}</span>
					<span class="label label-default">{{profiling.query}}</span>
					<span class="label label-default">{{profiling._total}}</span>
				</div>
				<div class="col-sm-3">
					<span class="label label-info">{{status}}</span>
				</div>
			</div>			

		</form>
		
		<div ng-show="error" class="alert alert-danger">{{error}}</div>
		
		<pre>{{ output | json }}</pre>		
	
	</div>
	
	<div ng-show="tab=='doc'">
	
		<p class="doc">
			<div class="line" ng-repeat="line in query.doc">{{line}}</div>
		</p>
		
		<p class="doc" ng-show="query.type=='nest'">
			This query is used as helper query for nesting one query into another.
		</p>

		<p class="doc" ng-show="query.type=='filter'">
			This query is meant to be used as filter using the colon notation <code>a:b</code>
		</p>
		
		<p class="doc" ng-show="query.type=='attach'">
			This query is meant to be used to attach extra data to another query using the plus notation <code>a+b</code>
		</p>
		
		<div ng-show="query.term">
			
			<h3>Alias</h3>
			
			<p>This query is an alias for</p>
			
			<code>{{query.term}}</code>
			
		</div>

		<h3>Parameters</h3>
		
		<p ng-show="numberOfParams() == 0">
			This query has no parameters
		</p>
		
		<table class="table table-striped table-condensed" ng-show="numberOfParams() > 0">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Default</th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(name, def) in params">
					<td>{{name}}</td>
					<td>
						<span ng-repeat="type in def.type">
							<span class="label label-{{type}}">{{type}}</span>
						</span>
					</td>
					<td>{{def.default_str}}</td>
					<td>{{def.doc}}</td>
				</tr>
			</tbody>
		</table>
		
		<h3>Child queries</h3>
		
		<p ng-show="query.children.length==0">
			This query has no child queries
		</p>
		
		<ul>
			<li ng-repeat="child in query.children"><a href="#/queries/{{child}}">{{child}}</a></li>
		</ul>
				
		<h3>Output</h3>
		
		<div ng-show="query.output.rows == 'first' && query.output.columns == 'first'">
			<p>
				<span ng-repeat="(name, def) in query.output.fields">
					<span class="label label-{{def.type[0]}}">{{def.type[0]}}</span>
				</span>
			</p>
			
			<p>The query will return a single value.</p>
		</div>
		<div ng-show="query.output.rows == 'first' && query.output.columns == 'all'">
			<p><span class="label label-object">object</span> <code>{ .. }</code></p>
			<p>The query will return an object containing the fields as described below.</p>
		</div>
		<div ng-show="query.output.rows == 'all' && query.output.columns == 'first'">
			<p><span class="label label-array">array</span> <code>[ .., .., .. ]</code></p>
			<p>The query will return an array.</p>
		</div>
		<div ng-show="query.output.rows == 'all' && query.output.columns == 'all'">
			<p><span class="label label-array">array</span> <code>[ { .. }, { .. }, { .. } ]</code></p>
			<p>The query will return an array of objects. Each object contains the fields as described below.</p>
		</div>
		
		<div ng-show="query.output.rows != 'first' || query.output.columns != 'first'">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(name, def) in query.output.fields">
					<td>{{name}}</td>
					<td>
						<span ng-repeat="type in def.type">
							<span class="label label-{{type}}">{{type}}</span>
						</span>
					</td>
					<td>
						<!--
						<div ng-repeat="(namesub, defsub) in def.fields">
							{{namesub}}
						</div>
						-->
						
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	
	</div>
	
			
</div>
