/**
 * Stylesheet for TinyQueries admin tool
 *
 */
 
#logo
{
	background: url(images/tiny-queries-logo.png) no-repeat;
	display: block;
	height: 32px;
	margin: 0 0 24px 0;
}
 
#query-container
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 25%;
}

#query-list
{
	position: absolute;
	top: 150px;
	right: 75%;
	bottom: 0;
	left: 0;
	padding: 12px;
	background-color: #f0f0f0;
}

#toolbar
{
	position: absolute;
	background: url(images/tiny-queries-logo.png) 12px 12px no-repeat #f0f0f0;
	background-color: #f0f0f0;
	padding: 12px 12px;
	top: 0;
	left: 0;
	right: 75%;
	bottom: calc(100% - 150px);
}
	
.doc .line
{
	min-height: 1em;
}

.label-array	{ background-color: #FF9900; }
.label-boolean	{ background-color: #128327; }
.label-int		{ background-color: #BD3F42; }
.label-float	{ background-color: #BD3F42; }
.label-json		{ background-color: #999999; }
.label-object	{ background-color: #999999; }
.label-child	{ background-color: #800080; }
.label-string	{ background-color: #3A87AD; }

.padded
{
	padding: 24px;
}

.query-type
{
	color: #ddd;
}

.rest-method
{
	color: #ddd;
}

.saveNeeded
{
	color: red !important;
}

.scroll-panel
{
	overflow-x: hidden; 
	overflow-y: scroll; 
}

.table.fields
{
	margin-bottom: 0;
	padding-bottom: 0;
}

.tab-content
{
	width: 100%;
	height: calc(100% - 52px);
}

.table.fields td
{
	padding-right: 0;
	margin-right: 0;
}

.table.fields td.type
{
	width: 200px;
}

.table.fields .subfields
{
	margin-left: 20px;
	margin-top: 3px;
}

.table.fields a
{
	cursor: pointer;
}

.title-bar
{
	padding-left: 30px;
	background: url(../favicon.png) no-repeat 16px 50% #bbb;
	border-radius: 0 !important;
	margin: 0 !important;
}

.title-bar li a
{
	color: white;
}

.title-bar li.active a
{
	background-color: #ccc;
	color: #888;
}

.title-bar li.active a:hover,
.title-bar li a:hover
{
	cursor: pointer;
	color: black; 
}


		
